.l-content-container
  = image_tag 'logo.png', :class => 'logo'
  %nav.l-navigation
    %ul
      %li= link_to 'Photos', '#'
      %li= link_to 'Blog', '#'
      %li= link_to 'About', '#'
      %li= link_to 'Contact', '#'
  .title-image
