%header.l-header
  .main-logo
    .main-icon.icon.megaphone
    %h1.main-title Professional Cynic
  %nav.l-navigation
    %ul
      %li= link_to 'Photos', '#'
      %li= link_to 'Blog', '#'
      %li= link_to 'About', '#'
      %li= link_to 'Contact', '#'
      %li#js-dropbox-connect
        = link_to '#' do
          .icon.retweet
          Dropbox
  .right
    - if current_user
      = link_to current_user.email, logout_path
